<% add_decidim_meta_tags(
       title: translated_attribute(collaboration.title),
       description: translated_attribute(collaboration.description)
   ) %>
<div class="row column view-header">
  <h2 class="heading2"><%= translated_attribute collaboration.title %></h2>
</div>